body{
  margin: 0;
}
h1{
  margin-top: 0;
}

.top-section{
  background-color: #CFF5E7;
}

.middle-seciton{
  height: 200px;
  width: 200px;
  background-color: rgb(141, 16, 16);
}

.bottom-seciton{
  height: 200px;
  width: 200px;
  background-color: green;
}


